*{
    padding: 0;
    margin:0;
   box-sizing: border-box;
}
.sidebar{
    width: 25%;
    height: 100vh;
    background-color: white;
    float: left;
}

.mg{
    width: 120px;
    height: 120px;
    object-fit:contain;
    margin-top: 10px;
    border-radius: 5%;
    position: relative;
    top: 10px;
    left: 20px;
}
h2{
    font-size: 21px;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.pg1{
    font-size: 16px;
    margin-left:20px ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(160, 152, 152);
    font-weight: 200;
    margin-top: 18px;
}
.menu{
    margin-top:15px;
    box-sizing: border-box;
}
.menu ul{
    margin-top:10;
}

.menu ul li{
   margin-top: 6px;
   padding: 14px 20px;
   list-style: none;
   cursor: pointer;
transition: .3s;
}

ul li.port:hover{
    background-color: lightgray;
    color: black;
}
.port{
    color: black;
}
ul li.port a:hover{
    color: black;
}

.port a{
    text-decoration:none ;
    text-transform: uppercase;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(160, 152, 152);
    
    font-weight: 400;
} 
ul li:hover{
    background-color: lightgray;
    color: black;
}
  
i{
   padding-right: 15px;
   font-size: 16px;
}
body{
    width: 100%;
    background-color:rgb(241, 228, 228);
}
.dd a{
    text-decoration:none ;
    text-transform: uppercase;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-weight: 400;
    
}
.media{
    margin-top: 25px;
    margin-left: 20px;
}
.media  a{
    text-decoration: none;
    color: black;
    padding-right:0 ;
}
.media a i{
    margin: 0;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}
.menu a i:hover{
    color: lightgray;
}
.mcont{
    width: 73%;
    background-color:rgb(241, 228, 228);
    float: right;
    height:100vh;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
}
.hd{
    margin-left: 5px;
    font-size: 35px;
    font-family:Verdana;
    font-weight: 500;
}
.pag{
    margin-top: 30px;
    
}
.header{
    padding-top: 20px;
    width: 100%;
    height: 150px;
    
    margin-top: 0;
    border-bottom:6px solid rgb(197, 187, 187) ;
}
.p{
    color: black;
    font-size: 18px;
    font-weight: 100;
    font-family:sans-serif;
}
.op {

    margin-top: 40px;
    margin-bottom:20px ;
}
.op ul{
    margin-left: 5px;
    margin-right: 0;
} 
.op ul li{
    display: inline;
}
.op ul li button a{
    text-decoration: none;
    color: black;
}

.op button{
    border: none;
    background-color: #fff;
    text-transform: capitalize;
    padding: 8px 20px;
   
}
.al button{
    background-color: black;
    color: #fff;
    margin-left: 20px;
    padding: 9px 20px;
}
.op ul .al button a {
    color: #fff;
    text-transform: uppercase;
}
