* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.sidebar {
  width: 300px;
  height: 100vh;
  background-color: white;
  float: left;
  position: fixed;
}

.mg {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-top: 10px;
  border-radius: 5%;
  position: relative;
  top: 10px;
  left: 20px;
}
h2 {
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.pg1 {
  font-size: 16px;
  margin-left: 20px;
  color: rgb(160, 152, 152);
  font-weight: 200;
  margin-top: 18px;
}
.menu {
  margin-top: 15px;
  box-sizing: border-box;
}
.menu ul {
  margin-top: 10;
}

.menu ul li {
  margin-top: 6px;
  padding: 14px 20px;
  list-style: none;
  cursor: pointer;
  transition: 0.3s;
}

ul li.port:hover {
  background-color: lightgray;
  color: black;
}
.port {
  color: black;
}
ul li.port a:hover {
  color: black;
}

.port a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(160, 152, 152);

  font-weight: 400;
}
ul li:hover {
  background-color: lightgray;
  color: black;
}

i {
  padding-right: 15px;
  font-size: 16px;
}
body {
  width: 100%;
  background-color: rgb(241, 228, 228);
}
.dd a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  font-weight: 400;
}
.media {
  margin-top: 25px;
  margin-left: 20px;
}
.media a {
  text-decoration: none;
  color: black;
  padding-right: 0;
}
.media a i {
  margin: 0;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.menu a i:hover {
  color: lightgray;
}
.mcont {
  width: 77%;
  background-color: rgb(241, 228, 228);
  float: right;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
}
.hd {
  margin-left: 5px;
  font-size: 35px;
  font-family: Verdana;
  font-weight: 500;
}
.pag {
  margin-top: 30px;
}
.header {
  padding-top: 20px;
  width: 100%;
  height: 150px;

  margin-top: 0;
  border-bottom: 6px solid rgb(197, 187, 187);
  padding-bottom: 20px;
}
.p {
  color: black;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  margin-right: 20px;
  text-transform: uppercase;
}
.op {
  margin-top: 40px;
  margin-bottom: 20px;
}
.op ul {
  margin-left: 5px;
  margin-right: 0;
  padding: 0px;
}
.op ul li {
  display: inline;
}
.op ul li button a {
  text-decoration: none;
  color: black;
}

.op button {
  border: none;
  background-color: #fff;
  text-transform: capitalize;
  padding: 8px 20px;
  color: #fff;
}
.op ul li button:hover {
  background-color: lightgray;
}
.al button {
  background-color: black;
  color: #fff;
}

.op ul .al button a {
  color: #fff;
  text-transform: uppercase;
}
.im {
  width: 100%;
  min-height: 100px;
}
.m-cont {
  width: 100%;
}
.m-cont .box {
  margin-top: 20px;
  width: 32%;
  min-height: 333px;
  float: left;
  background-color: #fff;
}
.m-cont .box:nth-child(2) {
  margin-left: 2%;
  margin-right: 2%;
}
h3 {
  margin: 15px 0;
  font-weight: 700;
  font-size: 15px;
  padding-left: 20px;
}
p {
  padding: 20px;
  font-size: 15px;
  font-weight: lighter;
}
.clearfix {
  content: " ";
  display: block;
  clear: right;
}
.m-cont .box:nth-child(5) {
  margin-left: 2%;
  margin-right: 2%;
}
.select {
  padding: 32px 0;
  margin-left: 300px;
  align-items: center;
}

.select i {
  margin-top: 40px;
  margin-left: 40px;
  width: 38px;
  height: 30px;
  color: black;
  line-height: 30px;
  text-align: center;
}
.select i:hover {
  background-color: black;
  color: #fff;
}
.pics {
  width: 100%;
}
.pics .pic1 {
  width: 49%;
  height: 250px;
  float: left;
  padding: 10px 10px;
}

.pics .pic2 {
  width: 49%;
  height: 250px;
  float: right;
  padding: 10px 10px;
}
.About {
  width: 78%;
  margin-top: 10px;
  float: right;
  padding: 10px;
  margin-left: 0;
}
.About .Apag {
  width: 80%;
  height: 100px;
  padding-left: 0;
  margin-top: 10px !important;
  padding-top: 10px;
  font-size: 15px;
  word-spacing: 1px;
  line-height: 20px;
  margin-bottom: 30px;
}
.tech {
  margin: 50px 0;
  border-top: 1px solid rgb(223, 210, 210);
  border-bottom: 1px solid rgb(223, 210, 210);
}
.tech h4 {
  font-size: 20px;
  margin: 20px 0;
  margin-top: ;
  padding-top: 10px 0;
  font-weight: 200;
}
.photo {
  margin: 20px 0;

  width: 100%;
  height: 40px;
  background-color: gray;
}
.poto {
  background-color: #616161 !important;
  width: 95%;
  height: 100%;
  line-height: 100%;
  color: #fff;
  text-align: center;
}
.web {
  background-color: #616161 !important;
  width: 85%;
  height: 100%;
  line-height: 100%;
  color: #fff;
  text-align: center;
}

.shop {
  background-color: #616161 !important;
  width: 85%;
  height: 100%;
  line-height: 100%;
  color: #fff;
  text-align: center;
}
.down .download {
  margin: 20px 0;
  padding: 14px 36px;
  background-color: #616161;
  border: none;
  color: #fff;
}
